.button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
    width: 200px; 
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
  }
  
  .button__placeholder {
    flex-grow: 1; 
    text-align: left; 
  }
  
  .button__icon svg{
    position: absolute;
    right: 15px;
    top: 8px;
  }
  