.assistant-container {
    background-image: url('../images/backgroundChat.png'); // Путь к вашему фоновому изображению
    background-size: cover; // Растягиваем изображение на всю доступную область
    background-position: center; // Выравниваем изображение по центру
    min-height: 100vh;
}