.footer {
    background-color: #212020;
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .footer__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 50%;
    margin-bottom: 20px;
    padding: 0 10px;
    @media (max-width: 768px) {
      flex: 1 1 auto;
      margin-bottom: 0;
    }
  }
  
  .footer__image {
    max-width: 100%;
  } 
  .footer__image img {
    width: 80%;
  }
  
  .footer__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .footer__link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .footer__title {
    text-align: center;
    margin-top: 25px;
  }
  
  .footer__text {
    font-size: 18px;
    overflow-wrap: break-word; 
    text-align: center;
    line-height: 1.5;
    max-width: 230px; 
    margin: 20px 0 30px 0;
  }
